#map {
  position: relative;
  height: 120px;
}
#tagline {
  padding-left: 25%;
  margin-bottom: 10px;
}
#tagline p {
  font-size: 200%;
  font-style: italic;
}
#news {
  clear: both;
  border: 1px solid #eee;
  background-color: #f8f8f8;
  border-radius: 2px;
  padding: 10px;
  margin: 0 15px;
  width: 95%;
}
#news h1 {
  margin: 0;
}
img.thumb {
  float: right;
  margin-left: 10px;
}
