
@light-yellow: #fdfff5;

/*
 * Off Canvas - http://getbootstrap.com/examples/offcanvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}


/*
*
* Additions to OffCanvas
*
*/

.subpage-main {
  margin-top: 20px !important;
}

.page-topic {
  font-size: 200%;
  color: #bbb;
  text-transform: uppercase;
  margin-bottom: 20px; 
}

.instructions {
  margin-left: 5%;
  margin-top: 40px;
}

.partial-85 {
  width: 85%;
  margin-left: 5%;
}

h4.topic {
font-size: 110%;
color: #aaa;
text-transform: uppercase;
margin-top: 10px;
margin-bottom: 10px;
}

.indent {
margin-left: 5%;
}

.step {
  padding-top: 20px;

  .step-content {
    margin: 0 10px;

    pre {
      margin: 0 0 0 30px;
      background-color: @light-yellow;
      border-width: 1px;
      border-color: #ddd;
      border-radius: 4px 4px 0 0;
      border-style: solid;
      box-shadow: none;
      border-bottom-width: 0px;
      padding: 15px;
      width: 90%;
    }

    .highlight {
      margin-left: 30px;
      margin-right: 0;
      border-width: 1px;
      border-radius: 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;;
      padding: 9px 14px;
      margin-bottom: 14px;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
      width: 90%;
    }

    h4, p {
      padding-bottom: 10px;
    }
  }
}

