---
title: 'Quick'
layout: subpage.hbs
head:
 - <link rel="stylesheet" href="en/<%= current %>/build/ol.css" type="text/css">
 - <link rel="stylesheet" href="assets/theme/index.css" type="text/css">
 - <link rel="stylesheet" href="assets/theme/offcanvas.css" type="text/css">
---


<div class="row row-offcanvas row-offcanvas-left">
  <div class="col-xs-12 col-sm-9">
    <h1 class="page-topic">Tutorials</h1>

    <div class="well partial-85">
      <h4 class="topic">OpenLayers Examples</h4>
      <p class="indent">Sometimes the quickest way to work out how OpenLayers works is to look at <a href="/en/master/examples/"><strong>examples</strong></a>.</p>
    </div>

    <div class="row">
      <div class="col-6 col-sm-6 col-lg-4">
        <h3 class="tutorial">Basic Map</h3>
        <p class="text-center img-placeholder"><i class="icon-map-marker icon-muted icon-4x"></i></p>
        <p>Create an OpenLayers Map on an HTML page, add a base layer and add a layer for map markers.</p>
        <p><a class="btn btn-green" href="quick_start.html#firstmap">View details &raquo;</a></p>
      </div>
      <div class="col-6 col-sm-6 col-lg-4">
        <h3 class="tutorial">Layers</h3>
        <p class="text-center img-placeholder"><i class="icon-align-justify icon-muted icon-4x"></i></p>
        <p>About the different types of layers that can be added to a map, including base layers and non-base layers.</p>
        <p><a class="btn btn-green" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-6 col-sm-6 col-lg-4">
        <h3 class="tutorial">Controls</h3>
        <p class="text-center img-placeholder"><i class="icon-cog icon-muted icon-4x"></i></p>
        <p>Controls are the primary interface for map interactions and displaying additional information.</p>
        <p><a class="btn btn-green" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-6 col-sm-6 col-lg-4">
        <h3 class="tutorial">Formats</h3>
        <p class="text-center img-placeholder"><i class="icon-signin icon-muted icon-4x"></i></p>
        <p>Formats are classes that parse different sources of data into OpenLayers internal objects, such as markers.</p>
        <p><a class="btn btn-green" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-6 col-sm-6 col-lg-4">
        <h3 class="tutorial">Overlays</h3>
        <p class="text-center img-placeholder"><i class="icon-copy icon-muted icon-4x"></i></p>
        <p>OpenLayers allows you to lay many different types of data on top of its various data sources.</p>
        <p><a class="btn btn-green" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-6 col-sm-6 col-lg-4">
        <h3 class="tutorial">Styling</h3>
        <p class="text-center img-placeholder"><i class="icon-adjust icon-muted icon-4x"></i></p>
        <p>Control the styling of features attached to vector layers in OpenLayers, such as points, lines, and polygons.</p>
        <p><a class="btn btn-green" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-6 col-sm-6 col-lg-4">
        <h3 class="tutorial">Projections</h3>
        <p class="text-center img-placeholder"><i class="icon-compass icon-muted icon-4x"></i></p>
        <p>OpenLayers supports EPSG projections for more accurate GIS capablities, well beyond just Spherical Mercator (used in most web map libraries such as Google, Bing, or Leaflet.js.</p>
        <p><a class="btn btn-green" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-6 col-sm-6 col-lg-4">
        <h3 class="tutorial">Mobile Browsing</h3>
        <p class="text-center img-placeholder"><i class="icon-mobile-phone icon-muted icon-4x"></i></p>
        <p>Built-in Navigation and TouchNavigation controls support better mobile map navigation, based on whatever events are available in the browser.</p>
        <p><a class="btn btn-green" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-6 col-sm-6 col-lg-4">
        <h3 class="tutorial">Requesting Remote Data</h3>
        <p class="text-center img-placeholder"><i class="icon-exchange icon-muted icon-4x"></i></p>
        <p>OpenLayers.Request methods help you get data from the server to the client, and correspond to the common HTTP verbs: GET, POST, PUT, DELETE, HEAD, and OPTIONS.</p>
        <p><a class="btn btn-green" href="#">View details &raquo;</a></p>
      </div>
    </div><!--/row-->
  </div>

