body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  padding-top: 50px;
}

.navbar {
  background-color: #319FD3;
  color: white;
}
.navbar-toggle {
  background-color: white;
}
.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 170%;
}
.navbar-nav>li>a {
  color: white;
}
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus,
footer a:hover,
footer a:focus {
  color: #e9c669;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 700;
}
h1.topic {
  font-size: 110%;
  color: #bbb;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0;
}

a {
  color: #428bca;
  text-decoration: none;
}
a {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: none;
}

a.big-link {
  padding: 0 10px;
  margin: 5px 0;
  border: 1px solid #fff;
  border-radius: 2px;
  display: block;
  color: inherit;
}
a.big-link h3 {
  margin-top: 10px;
}
a.big-link:hover,
a.big-link:focus {
  border-color: #eee;
  color: #2a6496;
  background-color: #f8f8f8;
}

blockquote.plain {
  border: none;
}

footer {
  background-color: #319FD3;
  color: white;
  margin-top: 40px;
  padding: 10px;
  text-align: center;
}
footer a {
  color: white;
}
