<!DOCTYPE html>
<html>
  <head>
    <title>OpenLayers 3 - {{ title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://ol3js.org/en/master/build/ol.css" type="text/css">
    <link href='assets/theme/site.css' rel='stylesheet' type='text/css'>
    <style>
      #map {
        position: relative;
        height: 120px;
      }
      #logo img {
        height: 10px;
      }
      #tagline {
        padding-left: 25%;
        margin-bottom: 10px;
      }
      #tagline p {
        font-size: 200%;
        font-style: italic;
      }
      #news {
        clear: both;
        border: 1px solid #eee;
        background-color: #f8f8f8;
        border-radius: 2px;
        padding: 10px;
        margin: 0 15px;
        width: 95%;
      }
      #news h1 {
        margin: 0;
      }
      img.thumb {
        float: right;
        margin-left: 10px;
      }
    </style>
  </head>
  <body>
    <div class='navbar navbar-fixed-top'>
      <div class='container'>
        <a href='/' class='navbar-brand' id='logo'>OpenLayers 3</a>
        <!-- button that shows up below 768px width -->
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-responsive-collapse'>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <!-- menu items that get hidden below 768px width -->
        <div class='nav-collapse collapse navbar-responsive-collapse'>
          <ul class='nav navbar-nav pull-right'>
            <li><a href='en/master/docs'>Docs</a></li>
            <li><a href='en/master/apidocs'>API</a></li>
            <li><a href='https://github.com/openlayers/ol3'>Code</a></li>
          </ul>
        </div>
      </div>
    </div>
    {{> body }}
    <footer>
      Code licensed under the <a href='http://www.tldrlegal.com/license/bsd-2-clause-license-(freebsd)'>2-Clause BSD</a>.  All documentation <a href='http://creativecommons.org/licenses/by/3.0/'>CC BY 3.0</a>.
    </footer>
    <script src='assets/js/main.js'></script>
  </body>
</html>
